html {
  font-size: 18px;   
  font-family: "Mate", serif;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.my-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
}

section {
    border-block: 2px #33cccc ridge;
    border-radius: 10px;
}


.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

header,
footer {
  background-color: #1f7a7a;
}


.content > h1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

div > h1 {
  text-transform: lowercase;
}

a > h1:hover {
  color: #33cccc;
}

a {
  text-decoration: None;
}

a > h1 {
  color: white;
}

p > a {
  color: #1f7a7a;
}

p > a:hover{
  color: #33cccc;
}

p > strong{
  color: #1f7a7a;
}

ul {
  list-style-type: None;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

/* for larger screens*/
@media only screen and (min-width: 768px) { 
    
    header {
      height: 80px;
    }
    
    .my-name {
      height: 80px;
      width: 20%;
    }
    
    nav {
      height: 80px;
    }
    
    section {
      padding-top: 80px;
    }
    
    .content {
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 50px;
      padding-right: 50px;
      width: 75%;
    }
    
    .picture {
      margin-left: 20px;
      margin-right: 20px;
      width: 25%;
    }
    
    img {
      width: 25%;
    }
    
    .content > p,
    li > p{
      margin-left: 10px;
      margin-right: 10px;
      text-align: justify;
    }
  
}

/* for smaller screens and phones*/
@media only screen and (max-width: 768px) {
    html {
      font-size: 3vw;
    }

    header {
      height: 10vw;
    }
    
    .my-name {
      height: 10vw;
      font-size: 2vw;
    }
    
    nav {
      height: 10vw;
      font-size: 2vw;
    }
    
    section {
      padding-top: 10vw;
    }
    
    .content {
      margin-left: 5vw;
      margin-right: 5vw;
      padding-left: 5vw;
      padding-right: 5vw;
      width: 75vw;
    }
    
    .picture {
      margin-left: 2vw;
      margin-right: 2vw;
      width: 25vw;
    }
    
    img {
      width: 40vw;
    }
    
    .content > h1{
      font-size: 5vw;
    }
    
    .content > h2{
      font-size: 4vw;
    }
    .content > h3{
      font-size: 3vw;
    }
    
    .content > p,
    li > p{
      margin-left: 5vw;
      margin-right: 5vw;
      text-align: justify;
    }

}
