html {
  font-family: "Cormorant Upright", serif;
  font-size: 1.5rem;
}

header, body, footer {
  background-color: white;
  color: darkslategray;
}

body {
  margin-top:0;
  padding-top:0;
  margin-left:0;
  padding-left:0;
  width: 100%; 
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 8vw;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
}

.name a, .categories a {
  color: darkslategray;
  text-decoration: none;
}

.categories > a:hover{
  font-size: 1.2rem;
}

main {
  padding-top: 10vw;
}

footer, .contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: darkslategray;
  width: 100%;
  height: 50px;
}

section {
  display: flex;
  flex-direction: column;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  display: flex;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
  border-top: solid;
  border-bottom: solid;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.about, .career, .education, .skills, .projects, .hobbies {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.picture, .content {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.picture img {
  width: 20vw;
  height: 20vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
}

.content {
  text-align: justify;
}

.content p, .content li {
  font-family: 'Lexend', sans-serif;
}

div > h2, .timeplace {
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about > .picture {
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about > .content {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*Alternate justified*/
.career:nth-of-type(odd), 
.education:nth-of-type(odd),
.skills:nth-of-type(odd),
.projects:nth-of-type(odd), 
.hobbies:nth-of-type(odd) {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.career:nth-of-type(odd) .content *, .career:nth-of-type(odd) .content,
.education:nth-of-type(odd) .content * , .education:nth-of-type(odd) .content {
  text-align: right;
}

.career:nth-of-type(even), 
.education:nth-of-type(even),
.skills:nth-of-type(even),
.projects:nth-of-type(even),
.hobbies:nth-of-type(even) {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.career:nth-of-type(even) .content *, .career:nth-of-type(even) .content, 
.education:nth-of-type(even) .content *, .education:nth-of-type(even) .content {
  text-align: left;
}

.career:nth-of-type(odd) .picture, 
.education:nth-of-type(odd) .picture,
.skills:nth-of-type(odd) .picture,
.projects:nth-of-type(odd) .picture, 
.hobbies:nth-of-type(odd) .picture {
  order: 1;
}

.career:nth-of-type(even) .picture, 
.education:nth-of-type(even) .picture,
.skills:nth-of-type(even) .picture,
.projects:nth-of-type(even) .picture, 
.hobbies:nth-of-type(even) .picture {
  order: 0;
}


p > a:link, .contacts * {
  text-decoration-line: none;
}

p > a:hover, p > a:visited:hover, .contacts *:hover {
  transition-duration: 0.5s;
  color: #ccad00;
}

p > a:visited, p > a, .contacts *:visited {
  transition-duration: 0.5s;
  color: blue;
}

.name > a:hover, .categories > a:hover {
  transition-duration: 0.6s;
  color:#ccad00;
}

.name > a, .categories > a {
  transition-duration: 0.6s;
}


ul {
  list-style-type: circle;
}

.kijijidata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
}

.kijijisample {
  height: 60vh;
}

.picam {
  display: flex;
  justify-content: center;
}

/* for larger screens*/
@media only screen and (min-width: 768px) { 
  header{
    height: 150px;
  }
  main {
    padding-top: 150px;
  }
}

/* for smaller screens and phones*/
@media only screen and (max-width: 768px) {
  
  html {
    font-size: 1.25rem;
  }

  header{
    height: 15vw;
  }
  main {
    padding-top: 15vw;
  }

  .categories {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .categories > a:hover{
    font-size: 1rem;
  }

  h2, h3, p, li {
    text-align: left;
  }

  .about, .career, .education, .skills, .projects, .hobbies {
    display: inline !important;
  }

  .about .picture {
    float: left;
  }

  .career:nth-of-type(odd) .picture, 
  .education:nth-of-type(odd) .picture,
  .skills:nth-of-type(odd) .picture,
  .projects:nth-of-type(odd) .picture, 
  .hobbies:nth-of-type(odd) .picture {
    float:left;
  }

  .career:nth-of-type(odd) .content, 
  .education:nth-of-type(odd) .content,
  .skills:nth-of-type(odd) .content,
  .projects:nth-of-type(odd) .content, 
  .hobbies:nth-of-type(odd) .content {
    text-align: right;
  }

  .career:nth-of-type(even) .picture, 
  .education:nth-of-type(even) .picture,
  .skills:nth-of-type(even) .picture,
  .projects:nth-of-type(even) .picture, 
  .hobbies:nth-of-type(even) .picture {
    float:right;
  }

  .career:nth-of-type(even) .content, 
  .education:nth-of-type(even) .content,
  .skills:nth-of-type(even) .content,
  .projects:nth-of-type(even) .content, 
  .hobbies:nth-of-type(even) .content {
    text-align: left;
  }

   .kijijidata {
    align-items: center;
    width: 80vw;
   }

  .kijijisample {
    height: 80vw;
    width: 80vw;
  }

}